body{
    background: #f2eeee;
}
.hero-image {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    overflow: hidden;
    
    
}
.container{
    padding: 50px;
    display: flex;
    flex-direction: column-reverse;

}