<div class="container">
            <div class="row align-items-center g-5">
                <div class="col-lg-5 col-md-6 text-center order-md-1">
                    <div class="hero-image">
                        <img src="https://media.posterlounge.com/img/products/740000/735290/735290_poster.jpg" alt="Hero Image" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 order-md-2">
                    <div class="hero-content">
                        <h2>This First Heading <span class="text-muted">Will Catch Your Eye</span></h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </div>
                </div>
            </div>